// You have default scripts in a head block you wish to run everytime
html
    head
        block head
            script(src='/vendor/jquery.js')
            script(src='/vendor/caustic.js')
    body
        block content
    