// mixins allow you to create reusable blocks of pug

// declaration
mixin list
    ul
        li foo
        li bar
        li baz
//- Use
+list
+list

//- mixins are compiled to functions, and can take arguments
mixin pet(name)
    li.pet = name
ul
    +pet('cat')
    +pet('dog')
    +pet('pig')


// Mixin Blocks
mixin article(title)
    .article
        .article-wrapper
            hi = title
            if block
                block
            else
                p No content is provided

+article('Hello World')

+article('Hello world')
    p This is my 
    p Amazing article

// Mixin Attributes
mixin link(href, name)
    //- attributes == {class: "btn"}
    a(class!=attributes.class href=href)= name

+link('/foo', 'foo')(class="btn")

// Default argument's values
mixin article(title='Default Title')
    .article
        .article-wrapper
            hi = title

//-Use
+article()

+article('Hello World')


//-Rest Arguments
mixin list(id, ...items)
    ul(id=id)
        each item in items
            li = item

+list('my-list', 1,2,3,4)